.todo_list{
  display: flex;
  align-content: baseline;
  justify-content: center;
  padding: 20px;

  font-size: 100px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;

  /* Sửa background-color thành background */
    background: linear-gradient(
      to bottom left,
      #FFB965 0%,
      #FFA73D 25%,
      #FFA400 50%,
      #FF0E0E 75%
    );

  /* Dùng background làm màu chữ */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.input_text {
  display: flex; // tao o theo chieu ngang
  align-items: center; //canh giua ngang
  justify-content: center; //canh giua tren xuongs
  gap: 5px; // khoang cach cua item

  //tao input 
  input[type="text"] {
    border: 2px solid #ddd; //tao vien va mau vien
    border-radius: 6px; // bo goc
    outline: none; // an focus
    padding: 10px; // khoang cach cua chu va vien
    background-color: #f1f5f9;
    font-size: 20px; // size chu
  }
  
  input::placeholder {
    color: #94a3b8;
  }

  button{
    padding: 10px 20px;
    border-radius: 6px;
    background: #4f98ed;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color:#fff;

    cursor: pointer;
    transition: 0.3s;
  }

  button:hover {
    opacity: 0.8;
    transform: translateY(-2px);
  }
}

.todo_img {
  display: flex;
  justify-content: center;
  padding: 20px;

  img {
    width: 500px;   // thu nhỏ chiều rộng ảnh
    height: auto;   // giữ tỉ lệ gốc
  }
}

.todo_data {
  width: 400px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .task {
    display: flex;
    align-items: center;
    justify-content: space-between; // để text bên trái, icon bên phải
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    font-size: 18px;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background: #f9fafb; // hover đổi màu nền nhẹ
    }

      /* nhóm bên trái */
    .task-left {
      display: flex;
      align-items: center;
      gap: 10px; // khoảng cách giữa checkbox và chữ
      flex: 1;   // chiếm hết không gian còn lại
    }

    .circle-checkbox {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      appearance: none; // bỏ style mặc định
      border: 2px solid #555;
      margin-right: 10px;
      cursor: pointer;
      position: relative;
    }

    .circle-checkbox:checked {
      background-color: #4caf50; // màu xanh khi tick
      border-color: #4caf50;
    }

    .circle-checkbox:checked::after {
      content: "";
      position: absolute;
      top: 4px;
      left: 4px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: white;
    }

    i {
      color: #555;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: #ff6600; // icon đổi màu khi hover
      }
    }
  }
}